@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 mt-5 pt-2  px-5">
            <div class="row px-5">
                <div class="col-10">
                    <h1 class="text-primary">Welcome to </h1>
                    <h1 class="text-primary">Hajur ko Car Rental </h1>
                    <small class="text-muted">Please login to continue</small>
                </div>
            </div>

            <form id="account" class="px-5 mt-5" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-10">
                    <div class="form-group mt-3">
                        <input asp-for="Input.Email" class="form-control py-2 rounded-0" autocomplete="username" aria-required="true" placeholder="Enter your email">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-10">
                    <div class="form-group mt-4">
                        <input type="password" asp-for="Input.Password" class="form-control py-2 rounded-0" placeholder="Enter your password" autocomplete="current-password" aria-required="true">
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                </div>

                <div>
                    <div class="col-10 checkbox d-flex justify-content-between mt-3">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                        <p>
                            <strong><a id="forgot-password" class=" text-decoration-none text-black" asp-page="./ForgotPassword">Forgot your password?</a></strong>
                        </p>
                    </div>
                </div>

                <div class="col-10">
                    <button id="login-submit" type="submit" class="btn btn-primary mt-2 px-5 rounded-0 w-100">Login</button>
                </div>

                <div class="col-10 mt-2 text-center">

                    <p>
                        Don't have an account yet? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
                    </p>
                </div>
            </form>


        </div>

        
    </div>


</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
